@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
  }
}
 
:root {
  --bs-primary: #0d6efd;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-low: #0d6efd;
  --bs-medium: #ffc107;
  --bs-high: #dc3545;
}

@media (width >= 1536px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

@media (width >= 1280px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

@media (width >= 1024px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}