@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
  }
}

:root { 
  --bs-primary: #0d6efd;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-low: #4ce600;
  --bs-medium: #ffff01;
  --bs-high: #ff0000;

  --bg-mandiri: #6991fd;
  --bg-rutin: #E853C4;
  --bg-terpadu: #04F512;
  --bg-pemadaman: #ff4444;
   
  --color-primary: #63a91f;
  --color-primary-dark: #1a512e;
  --gradient-primary: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
   
  --bs-headerprimary: header-primary;
}
 
.header-primary {
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-gradient-primary {
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
}

@media (width >= 1536px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

@media (width >= 1280px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

@media (width >= 1024px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

.swal-large-text 
{
  font-size: 1.25rem !important;
}
.swal2-title {
  font-size: 1.75rem !important;
}
.swal2-content {
  font-size: 1.25rem !important;
}
.swal2-html-container {
  font-size: 1.25rem !important;
}
    .swal2-container .swal2-actions .swal2-cancel {
        background-color: #3085d6 !important;
        border-color: #3085d6 !important;
        color: white !important;
    }
    .swal2-container button.swal2-styled.swal2-cancel {
        background-color: #3085d6 !important;
        border-color: #3085d6 !important;
        color: white !important;
    } 
    button.swal2-cancel.swal2-styled {
        background-color: #3085d6 !important;
    } 
.swal2-container .swal2-actions .swal2-confirm {
    background-color: #d33 !important;
    border-color: #d33 !important;
    color: white !important;
}
.swal2-container button.swal2-styled.swal2-confirm {
    background-color: #d33 !important;
    border-color: #d33 !important;
    color: white !important;
} 
button.swal2-confirm.swal2-styled {
    background-color: #d33 !important;
}