@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
  }
}
  
/* Tambahkan ini ke file CSS global Anda */

:root { 
  --bs-primary: #0d6efd;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-low: #0d6efd;
  --bs-medium: #ffc107;
  --bs-high: #dc3545;
   
  --color-primary: #63a91f;
  --color-primary-dark: #1a512e;
  --gradient-primary: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
   
  --bs-headerprimary: header-primary;
}
 
.header-primary {
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-gradient-primary {
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
}

@media (width >= 1536px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

@media (width >= 1280px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

@media (width >= 1024px) {
  .container {
    max-width: calc(100vw - 8rem);
  }
}

.swal-large-text {
                    font-size: 1.25rem !important;
                }
                .swal2-title {
                    font-size: 1.75rem !important;
                }
                .swal2-content {
                    font-size: 1.25rem !important;
                }
                .swal2-html-container {
                    font-size: 1.25rem !important;
                }